<template>
  <div class="hello">
    <h1>Product One List</h1>
    <input type="text" v-model="add_products.name" placeholder="Product Name">
    <input type="text" v-model="add_products.price" placeholder="Product Price">
    <button @click="addNewList">Add</button>
    <div id="product_lists">
      <ul>
        <li v-for="(product,index) in activeProducts" :key="index">
          <p> {{ product.name }}</p>
          <p>$ {{ product.price }}</p>
          <strong @click="deleteItem(index)">X</strong>
        </li>
      </ul>
    </div>

    <button @click="reducePrice(4)">Reduce Price</button>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
export default {
    data(){
      return {
        add_products: {
            name: '',
            price : ''
          }
      }
    },
  computed: {
    ...mapGetters({
      activeProducts : 'activeProducts'
    }),
    products(){
      return this.$store.state.products
    }
  },
  methods: {
    reducePrice(amount)
    {
      this.$store.dispatch('reducePrice', amount)
    },
    addNewList(){
      this.$store.dispatch('addNewProduct', this.add_products)
    },
    deleteItem(index){
      this.$store.dispatch('deleteProduct', index)
    }
  }
}
</script>

<style scoped>
  h1{
    padding: 30px;
    background: lightgreen;
  }
  .hello{
    width: 960px;
    margin: 0 auto;
  }
  #product_lists{
    overflow: hidden;
    text-align: center;
  }
  #product_lists ul {
    list-style: none;
  }
  #product_lists ul li{
    float: left;
    padding: 10px;
    background: orange;
    margin: 5px;
    width: 185px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #222222;
  }
  #product_lists ul li p{
    padding: 5px;
  }
  strong{
    padding: 10px;
    background: lightcoral;
    cursor: pointer;
  }
</style>
