<template>
  <div class="hello">
    <h1>Product Two List</h1>
    <div id="product_lists">
      <ul>
        <li v-for="product in activeProducts" :key="product.id">
          <p> {{ product.name }}</p>
          <p>$ {{ product.price }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      products(){
        return this.$store.state.products
      },
      activeProducts()
      {
        return this.$store.getters.activeProducts
      }
    }
  }
</script>


<style scoped>
  h1{
    padding: 30px;
    background: #bc90ee;
  }
  .hello{
    width: 960px;
    margin: 0 auto;
  }
  #product_lists{
    text-align: left;
    padding: 50px;
  }
  #product_lists ul {
    list-style: none;
    margin: 0;
  }
  #product_lists ul li{
    background: #a3a6ef;
    margin: 10px;
    display:block;
    border-radius: 5px;
    border: 2px solid #222222;
    width: 100%;
  }
  #product_lists ul li p{
    padding: 5px;
  }
</style>

