<template>
  <div id="app">
    <productOne></productOne>
    <productTwo></productTwo>
  </div>
</template>

<script>
import productOne from './components/productOne.vue'
import productTwo from './components/productTwo.vue'

export default {
  name: 'App',
  components: {
    productTwo,
    productOne,
  }
}
</script>

<style>

</style>
